.info {
  padding: 36px;
  background-color: white;

  .header {
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .title {
      font-size: 36px;
      font-weight: 500;
    }
    .avatar {
      width: 100px;
      height: 100px;
      border-radius: 100%;
    }
  }
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  .at-button--small {
    width: min-content;
    margin: 0;
    font-size: 24px;
    padding: 0 20px;
  }
}
