.index {
  height: 100vh;
  overflow: hidden;
}

.fab_btn {
  position: fixed;
  bottom: 50rpx;
  right: 50rpx;
}

.tab {
  height: 100%;
  .empty {
    padding: 60rpx;
    text-align: center;
    color: #555555;
  }
}
