.button {
  margin: 24px 0 !important;
}

.checkin_box {
  display: flex;
  align-items: center;
}

.at-countdown__separator {
  transform: translateY(-4px);
}

.at-countdown__time-box {
  min-width: 36px;
  font-size: 36px;
}
