.card {
  background-color: rgb(42, 135, 172);
  border-radius: 8px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  margin: 36px 36px 0 36px;
  padding: 30px;
  transition: all 0.2s ease-out;
  &:active {
    opacity: 0.8;
  }

  .header,
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .title {
    font-size: 36px;
    font-weight: 500;
  }

  .footer {
    font-size: 30px;
  }

  .menu-icon {
    font-size: 48px;
    color: #fff;
    padding: 16px;
    margin: -16px;
  }
}
